
.inventory-wrap{
  width: 85vw;
  height: 80vh;
  margin: auto;

}
.inventory-wrap h3{
  width: 1430px;
  margin: auto;
  text-align: left;
  margin-top: 50px;
}

.inventoryTable td{
  border: 1px solid;
  padding: 10px;
}
.inventoryTable{
  width: 1430px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.02), 0 3px 6px rgba(0,0,0,0.04);
}
.inventoryTable tr,
.inventoryTable td{
  padding: 10px;
  border: none;
  border-bottom: 1px solid lightgrey;
}
.inventoryTable thead{
  background-color: #F1F5F9;
  font-weight: 700;
}