
.manage-contailner{
  width: 85vw;
  height: 80vh;
  margin: auto;
}

.manage-main{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 1430px;
  height: 100%;
}

.magage-header{
  border-radius: 15px;
  width: 100%;
  text-align: left;
  margin-bottom: 35px;
  margin-top: 50px;
}

.manage-content{
  width: 98%;
  text-align: left;
}


/* managemai의 header부분 */

.seachbar {
  position: relative;
  width: 200px
}

.seachbar >input{
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

.seachbar > span{
  position : absolute;
  right: 32px;
  top: 2px;
  color: grey;
  cursor: pointer;
}

.header-div > h3 {
  margin-bottom: 15px;
}

.header-div > h3 > i{
  margin-left: 20px;
  font-size: 18px;
}

.header-div > h3 > span{
  font-size: 15px;
  margin-left: 0px;
  font-weight: 500;
}

.content-btn > button{
  margin-bottom: 5px;
  border: 1px solid;
  padding: 5px;
  margin-right: 3px;
  width: 70px;
  cursor: pointer;
  background-color: white;
}

.content-table > tbody > tr > td > button{
  background-color: white;
  border: 1px solid lightgray;
  padding: 2px;
  width: 50px;
  cursor: pointer;
}

.content-table button:hover{
  background-color: rgb(226, 226, 226);
}


.content-table{
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.02), 0 3px 6px rgba(0,0,0,0.04);
}

.content-table td,
.content-table tr{
  padding: 10px;
  border: none;
  border-bottom: 1px solid lightgrey;
}



.content-table > thead{
  background-color: #F1F5F9;
  font-weight: 700;
}


.content-table span{
  cursor: pointer;
}

.content-table span:hover{
  font-weight: 800;
}


/* 모달 */

.costomer-add-div{
  margin: auto;
  margin-left: 50px;
  margin-top: 20px;
  
}

.costomer-add-div > div{
  margin-top: 10px;
}

.customer-modal  h5{
  padding: 5px;
  font-size: 14px;
  color: rgb(114, 114, 114);
}

.customer-modal  input{
  width: 380px;
  padding: 5px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid rgb(133, 133, 133); ;
  font-size: 17px;
font-weight: 700;
}

.cutomer-modal-btn{
  text-align: center;
}

.cutomer-modal-btn button{
  width: 150px;
  padding: 8px;
  margin-top: 10%;
  cursor: pointer;
  border: none;
  background-color: #384B70;
  color: white;
  margin-right: 3px;
}

.manage-sales{
  display: flex;
  gap: 10px;
}


.manage-sales > div{
  background: #373B44;  
  background: linear-gradient(to bottom, #36b2cd, #6164c4);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;
  padding: 11px;
  border-radius: 10px;
  width: 210px;
  /* height:100px; */
}
