@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }

.provider-main-img{
  position: relative;
}

.provider-main-img div{
  position: absolute;
  top: 180px;
  left: 1200px;

  color: white;
  text-shadow: 1px 1px 10px rgb(56, 56, 56);
  text-align: left;

  font-size: 2.5rem;
  font-family: 'NanumBarunGothic';
}

.provider-main-img img{
  width: 99%;
  height: 800px;
  object-fit: cover;
  
}

.provider-logo-div p:nth-child(1){
  color: rgb(5, 141, 5);
}
