.board-list-div table tr td{
border: 2.5px solid white;
padding: 10px;
}
.board-list-div-tbody{
  background-color: #04686b27;
  color: black;
}
.board-list-div table{
  margin: 100px auto;
}
.board-list-div-thead{
  background-color: #11999e;
  color: white;
}
.go-userServiceDetail:hover{
  cursor: pointer;
  font-weight: bold;
}
.btn{
  margin: 10px;
  background-color: #11999e;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 18px;
}
