
.orderDetail-btn{
  text-align: right;
  margin-top: 20px;
  width: 98%;

}

.orderDetail-btn button{
  cursor: pointer;
  padding: 7px;
  width: 130px;
  border: none;
  background-color: #6AD2C6;
  color: white;
  margin-right: 5px;
}

.orderDetail-btn button:hover{
  background-color: #35bbab;
}

.orderDetail-btn button:nth-child(1){
  background-color: gray;
}

.orderDetail-btn button:nth-child(1):hover{
  background-color: rgb(90, 89, 89);
}

.detail-header{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.detail-header > div{
  display: flex;
  width: 20%;
  padding: 5px;
  font-weight: 700;
  height: 120px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #f5f7f8;
  border: 1px solid lightgray;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}


.detail-header i{
  font-size: 1.6rem;
  margin-right: 10px;
}