.doctorMemImg{
  width: 250px;
  height: 330px;
  margin-left: 40px;
  margin-top: 70px;
}
.doctorMem div{
  margin: 50px;
  margin-right: 75px;
}
.doctorIntro{
  display: flex;
}
.doctorIntro > div{
  display: flex;
  width: 50%;
}
.cancer{
  background-color: rgba(0, 0, 0, 0.04);
}
.cancer{
  text-align: left;
}
.introDoctorName{
  color: darkslategrey;
  font-size: 25px;
}
.introDoctorDept{
  color: rgb(58, 100, 100);
  font-size: 18px;
}
.doctorIntro p{
  font-size: 18px;
  text-align: end;
  color: rgb(14, 56, 14);
}
.goSchedule > span{
  padding: 15px;
}
.goSchedule > span:hover{
  cursor: pointer;
}
.goSchedule > i:hover{
  cursor: pointer;
}
.goSchedule > i{
  font-size: 20px;
}
.introDoctor{
  font-size: 18px;
}