



.join-div{
  width: 720px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 100px 50px;
  margin: 100px auto;
}

.join-div>div:first-child{
  width: 300px;
  margin-bottom: 20px;
}

.join-div>div:first-child>i{
  margin: 0 auto;
  font-size: 42px;
  color: #0254AF;
}

.join-btn{
  width: 50%;
  height: 34px;
  background-color: #0254AF;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-user,
.btn-admin{
  width: 100px;
  margin-left: 5px;
  margin-top: 20px;
  font-weight: normal;
}

.join-table{
  width: 500px;
  margin: 50px auto;
}

.join-table td{
  padding: 5px;
  text-align: left;
  /* border: 1px solid black; */
  
}


.join-table input{
  width: 90%;
  height: 18px;
}

.join-table td:first-child{
  font-weight: bold;
}


.join-div > div{
  margin: 0 auto;
  /* text-align: center; */
  width: 300px;
}
.relative-container{
  /* text-align: center; */
}
.join-btn:hover{
  background-color:#013d81 ;
}
.error{
  font-size: 0.7rem;
  text-align: left;
  color: red;
  margin: 0px;
}

.join-head{
  margin: auto;
  /* text-align: center; */
}
.error1{
  height: 15px;
  margin: 0px;
}

.box-span{
  cursor: pointer;
}

.join-checkbox{
  text-align: left;
  
}

.join-checkbox input{
 cursor: pointer;
}

.join-check{
  display: flex;
  justify-content: space-between;
}

.join-check .bi{
  cursor: pointer;
  color: gray;
}
.join-check .bi:active{
}

.bi-x-lg{
  font-size: 1.5rem;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  
}
.ReactModal__Content ,.aa{
  width: 440px; /* 가로 길이 전체로 확장하지 않도록 설정 */
  margin: auto; /* 중앙 정렬 */
  margin-top: 20px;
  padding: 0 20px; /* 내부 여백 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함하여 전체 너비 계산 */
  border-radius: 8px; /* 모서리 둥글게 */
  /* 추가적인 스타일 설정 가능 */
}
.aa {
  height: 200px;
}

.join-modalH2{
  margin-top: 15px;
}

.modalBtn{
  border: none;
  background-color: white;
  text-align: center;
  font-size: 1.1rem
}

.modalBtn:hover{
  cursor: pointer;
}