.adminJoin-div{
  width: 800px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
}

.adminJoin-btn {
  margin: 10px;
  background-color: #11999E;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 8px 16px; /* 패딩 조정 */
  cursor: pointer;
}
.adminJoin-table{
  width: 300px;
  margin: 70px auto;
}
.adminJoin-div > div{
  text-align: center;
}
.adminJoin-table td{
  padding: 10px;
  
}
.adminJoin-select{
  border-radius: 5px;
  padding: 5px; /* 패딩 추가 */
  width: 100%; /* 입력 필드 전체 너비 사용 */
}
.adminJoin-input{
  background-color: rgba(0, 0,  0, 0.1);
  border: 1px solid;
  border-radius: 5px;
  padding: 5px; /* 패딩 추가 */
  width: 80%; /* 입력 필드 전체 너비 사용 */
}

.file-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  
}
.file-div > div:first-child{
  position: relative;
}
.file-img{
  position: absolute;
  height: 200px;
  top: -250px;
  left: 200px;
  border: 1px solid;
}
.file-placeholder{
position: absolute;
top: -250px;
left: 200px;
width: 200px; /* 이미지 너비와 동일하게 설정 */
height: 200px; /* 이미지 높이와 동일하게 설정 */
border: 1px dashed #000000; /* 스타일 변경 */
display: flex; /* Flexbox 사용으로 중앙 정렬 */
align-items: center; /* 수직 중앙 정렬 */
justify-content: center; /* 수평 중앙 정렬 */
text-align: center; /* 텍스트 가운데 정렬 */
color: #999; /* 텍스트 색상 */
background-color: #f9f9f9; /* 배경색 */
white-space: nowrap;
}
/* .file-label{
  text-align: center;
  border: 1px solid;
  margin-top: 20px;
  width: 100px;
  height: 25px;
  padding-top: 5px;
  cursor: pointer;
} */
.file-label {
  position: absolute;
  top: -50px;
  right: 50px;
  text-align: center;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  margin-top: 20px;
  width: 100px; /* 파일 등록 버튼의 너비 설정 */
  height: 25px; /* 파일 등록 버튼의 높이 설정 */
  display: flex; /* 중앙 정렬을 위해 flex 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  cursor: pointer;
}
.file-input{
  /* 파일선택 안보이게 */
  opacity: 0; 
  position: absolute;
  cursor: pointer;
}

