

.login-div{
  width: 720px;
  height: 400px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 100px 50px;
  margin: 100px auto;
}

.login-info{
  font-size: 0.8rem;
  margin: 20px 0px;
}

.login-table-div{
  width: 300px;
  /* border: 1px solid black; */
  margin: auto;
}

.login-table-div p{
  margin-top: 20px;
  font-size: 0.9rem;
  color: #555555;
  font-weight: bold;
  cursor: pointer;
}

.login-table-div h1{
  margin-bottom: 30px;
}

.login-table-div div:first-child{
  display: flex;
  width: 300px;
  margin-bottom: 20px;
}

.login-table-div div:first-child i{
  margin: 0 auto;
  font-size: 42px;
  color: #0254AF;
}

.login-table{
  width: 100%;
  margin: 5px auto;
  /* border: 1px solid red; */
}

.login-table td{
  padding: 5px 0px;
}

.login-table td input{
  /* padding: 5px; */
  width: 290px;
  height: 28px;
}


.loginBtn{
  background-color: #0254AF;
  width: 100%;
  height: 34px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 4px 10px;
  cursor: pointer;
}

.loginBtn:hover{
  background-color:#013d81 ;
}


