.sch-container{
  /* border: 1px solid rgb(0, 0, 0); */
  width: 100%;
  margin: auto;

}

/* 달력과 시간버튼 플렉스 */ 
.sch-flex{
  width: 70%;
  display: flex;
  align-items: center;
  margin: auto;
  /* border: 1px solid darkgray; */
  border-radius: 10px;
}


.sch-time > h3{
  margin-top: 20px;
  margin-bottom: 10px;
}

.sch-btn{
  /* border: 1px solid blue; */
  margin-right: 150px;
  display: grid;
  grid-template-columns: repeat(3,32%);
}
.sch-btn button {
  background-color: #ff8b48;
  color: rgb(255, 255, 255);
  width: 70px;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
}

.sch-btn button:hover{
  background-color: rgb(103, 207, 241);
}

/* 예약 상태(가능 불가능 안내) */
.sch-status{
  /* border: 1px solid black; */
  margin-right: 75px;
  font-size: 13px;
  display: inline-block;
}


/* 예약상세내용 테이블 */
.schedule-table{
  /* display: inline-block; */
  width: 100%;
  text-align: left;
  margin: auto;
  margin-top: 50px;
  /* border: 1px solid rgb(25, 0, 255); */
}

.schedule-table>table{
  /* border: 1px solid red; */
  margin: auto;
}

.schedule-table input{
  /* margin-left: 15px; */
  width: 300px;
  padding: 4px;
  margin-bottom: 3px;
  font-size: 14px;
}

.sch-select{
  width: 312px;
  padding: 4px;
  margin-bottom: 3px;
  font-size: 14px;
}

input:focus, select:focus, textarea:focus{
  outline: none;
}

.sch-footer{
  margin-top: 30px;
}

.sch-footer >button{
  width: 150px;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 18px;
  background-color: #11999E;
  color: white;
  
}

button{
  cursor: pointer;
}



/* -------------달력 커스텀 -------------*/

.react-calendar{
  width:50%;
  margin: 20px auto;
  border:1px solid darkgrey;
}
.react-calendar__navigation{
  background-color: lightblue;
}


.react-calendar__navigation__label  {
  /*  달력 상단 년 월 글씨 커스텀 */
  font-size: 19px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.react-calendar__month-view__weekdays__weekday {
  /* 요일 css */
    font-size: 1.2rem;
    font-weight: 600;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="일요일"]{
  color: red;
} 

.react-calendar__tile {
  color: black;
  text-align: center;
}

.react-calendar__month-view__days__day-names,
  .react-calendar__month-view__days__day {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
  }

.react-calendar__tile--now {
 /* 오늘 날짜 하이라이트 커스텀 */
  width: 50px;
  border-radius: 15px;
  abbr{
    color:red;
  }
}

.react-calendar__tile--active {
  /* 현재 선택된 날짜  */
  background: var(--festie-primary-orange, lightblue);
  border-radius: 15px;
}


.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  /* //hover 했을 때 색상 변경 */
  background: var(--festie-primary-orange, lightblue);
  border-radius: 15px;
}


.react-calendar__tile:disabled {
  background-color: white; /* 비활성 날짜 배경색 */
  color: darkgrey; /* 비활성 날짜 글자색 */
}