

.graph-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFBFE;
  text-align: left;
} 

.graph-headerr{
  text-align: center;
  color: black;
  padding: 35px;
  text-decoration: underline;
}

.graph-header{
  display: flex;
  width: 90%;
  gap: 50px;
}

.header-content{
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2,50%); 
  gap: 12px;
}

.header-content > div{
  color: #6C757D;
  height:68px;
  padding:22px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px #FAFBFE, 0 3px 6px rgba(99, 99, 99, 0.23);
}

.header-graph{
  width: 52%;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px #FAFBFE, 0 3px 6px rgba(99, 99, 99, 0.23);
  color: #6C757D;
  padding: 20px;
}

.graph-mainbar > div{
  background-color:#F5FAFE;
  color:#6C757D;
  width: 25%;
  padding: 30px;
  border-radius: 5px;
}

.graph-content{
  display: flex;
  width: 90%;
  gap: 50px;
  margin-top: 50px;
}

.graph-div{
  width: 65%;
  height: 380px;
  padding: 20px;
  color:#6C757D;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px #FAFBFE, 0 3px 6px rgba(99, 99, 99, 0.23);
}


.graph-table{
  width: 550px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px #FAFBFE, 0 3px 6px rgba(99, 99, 99, 0.23);
}

.graph-table > thead{
  color: rgb(255, 255, 255);
  background-color:#0050B5;
  background: linear-gradient(#4CB8C4,skyBlue);
  border: none;
  font-weight: 600;
}

.graph-table > thead td,
.graph-table > tbody td{
  padding: 21px;
  text-align: center;
}

.graph-table > tbody{
  border: none;
}

.icon-span > i{
  font-size: 20px;
  padding: 8px;
}

.weathericon{
  width:30px;
}

.header-content p{
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.header-content div > span:nth-child(2){
  font-size: 1.4rem;
  font-weight: bolder;
}


.weather-div{
  width: 40%;
  height: 300px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px #FAFBFE, 0 3px 6px rgba(99, 99, 99, 0.23);
  padding: 20px;
}

/* 박스 안 타이틀 */
.weather-div > p,
.graph-weather > p,
.header-graph > p{
  color: #6C757D;
}

.graph-weather{
  width: 60%;
  height: 300px;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px #FAFBFE, 0 3px 6px rgba(99, 99, 99, 0.23);
  margin-bottom: 50px;
}

/* 차량이동정보 박스 */
.bloodcar{
  display: flex;
  gap: 20px;
  width: 98%;
  margin: auto;
}

/* 차량이동 정보 박스 div */
.bloodcar > div{
  margin-top: 50px;
  width: 500px;
  height: 150px;
  background-color: #faf8f8;
  text-align: center;
  padding: 15px;
}


/* 온도 막대기 바 */
.graphWrap { position: relative; }
.graphWrap .graph > div { position: absolute; bottom: 3px; width: 100px; }
.graphWrap .graph > div#item1 { left: 70px; background: linear-gradient(lightCyan, skyBlue, deepSkyBlue);}
.graphWrap .graph > div#item2 { left: 70px; background: linear-gradient(lightCyan, skyBlue, deepSkyBlue);}


/* 애니메이션 */
.p-100{ width: 300px; animation:p-100 2s forwards; }
@keyframes p-100{from{width:0px}to{height: 20px}}
.p-50{ width: 100px; animation:p-50 2s forwards; }
@keyframes p-50{from{width:0px}to{height: 20px}}


/* 온동설정 아이콘  */
.setting-btn{
  cursor: pointer;
  position: relative;
}

/* 온도 조절 div */
.setting-input{
background-color:#FFFFFF;
box-shadow: 0 2px 2px #FAFBFE, 0 2px 2px rgba(99, 99, 99, 0.2);
width: 180px;
height: 80px;
position: absolute;
top: 285px;
left: 180px;
}

/* 온도조절 input 디자인 */
.setting-input input{
  width: 70px;
  height: 30px;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 15px;
  border: none;
  padding: 10px;
  background-color: #fafbfc;
  box-shadow: 0 2px 2px #FAFBFE, 0 2px 2px rgba(196, 196, 196, 0.2);
}

.setting-input input::-webkit-inner-spin-button,
.setting-input input::-webkit-outer-spin-button {
	-webkit-appearance: inner-spin-button;
    opacity: 1;
}

/* 온도조절 확인 버튼 */
.setting-input button{
  margin-left: 10px;
  width: 60px;
  padding: 10px;
  border: none;
  background-color: #4EC0E9;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.setting-input button:hover{
  background-color: #2ca3ce;
}