.meminfo-div{
  width: 800px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 20px;
  margin: 100px auto;

}

.meminfo-div h3{
  text-align: center;
  width: 210px;
  margin: 20px auto;
}

.meminfo-table{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 80px auto;
  font-size: 0.9rem;
  width: 40%;

}

.meminfo-table td{
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #eeeeee;
}

.meminfo-table tbody td:nth-child(2){
  display: flex;
}

.meminfo-table tbody td{
  justify-content: space-between;
}

.meminfo-table tbody td i{
  cursor: pointer;
  color: #0254AF;
}

.meminfo-table tbody tr td:first-child{
  font-weight: bold;
  background-color: #eeeeee52;
}

.meminfo-table input{
  width: 90%;
  height: 18px;
}

.meminfo-table textarea{
  width: 90%;
  height: 50px;
}

.infoBtns{
  margin: 15px auto;
  width: 270px;
  display: flex;
  justify-content: space-around;
}

.infoBtn{
  background-color: #0254AF;
  color: white;
  border: none;
  height: 34px;
  width: 100px;
  font-weight: bold;
}

.infoBtn:hover{
  background-color: #013d81;
  cursor: pointer;
}

.sch-mini{
  /* border: 1px solid #eeeeee; */
  height: 100px;
  margin: 50px auto;
}

.sch-minitable{
  margin: 10px auto;
  width: 80%;
  text-align: left;
}

.sch-minitable td{
  font-size: 0.9rem;
  
  border-bottom: 1px solid lightgray;
  padding: 5px;
}

.sch-minitable td:nth-child(1){
  font-weight: bold;
  background-color: #eeeeee;
}



/* 모달------------------------------------ */
.schDetail-modal-div{
  text-align: center;

}

.schDetail-modal-div:nth-child(1){
  /* margin: 0 auto; */
  border: 1px solid white;
  height: 80%;
}

.schDetail-modal-div h3{
  margin-top: 8px;
  margin-bottom: 12px;
}

.schDetail-modal-div>button{
  /* margin-right: 15px; */
  border: none;
  background-color: #0050B5;
  color: white;
  /* width: 150px; */
  /* padding: 10px; */
  font-size: 0.8rem;
  /* margin-top: 45px; */
  cursor: pointer;
  font-weight: 600;
  margin-bottom: auto;
}


/* datepicker--------------------------- */
.datePicker{
  width: 180px;
  font-size: 1rem;
  padding: 10px;
  /* box-shadow: 1px 1px 5px lightgray; */
  border: 1px solid lightgray;
  /* border-radius: 5px; */
  margin-bottom: 10px;
  cursor: pointer;
}

/* 해당 월이 아닐시 안보임 */
.react-datepicker__day--outside-month{
  visibility: hidden;
}

/* 일요일 */
.react-datepicker__day-name:first-child{
  color: red;
}
.react-datepicker__week>.sunday{
  color: lightgray;
}

/* 토요일 */
.react-datepicker__day-name:last-child{
  color: blue;
}

.react-datepicker__week>.saturday{
  color: lightgray;
}


/* 드롭다운-------------------------------- */

.custom-select{
  position: relative;
  display: inline-block;
  width: 200px;
}

.selected{
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 120px;
  overflow-y: auto;
}

.options li {
  /* padding: 10px; */
  cursor: pointer;
  height: 30px;
}

.options li:hover {
  background-color: #f0f0f0;
}


.options li>button{
  border: none;
  background-color: white;
  width: 100%;
  height: 100%;
}
.options li>button:hover{
  background-color: #f0f0f0;
  cursor: pointer;
}

.options li>button:disabled{
  color: #f0f0f0;
}

.options li>button:disabled:hover{
  background-color: white;
  cursor: not-allowed;
}
