.docInfo-div{
  width: 800px;
  border-bottom: 1px solid #eeeeee;
  border-radius: 5px;
  margin: 20px auto;
}

.docInfo-div h4{
  text-align: left;
}

.docInfo-table{
  width: 800px;
  margin: 10px auto;
}

.docInfo-table thead tr{
  border-top: 2px solid black;
  background-color: #eeeeee;
  font-weight: bold;
}

.docInfo-table thead td{
  padding: 5px;
}


.chart-div{
  width: 800px;
  border-bottom: 1px solid #eeeeee;
  border-radius: 5px;
  margin: 0 auto;
}

.chart-div h4{
  text-align: left;
}

.chart-table{
  width: 800px;
  margin: 10px auto;
  font-size: 0.9rem;
}

.chart-table thead tr{
  border-top: 2px solid black;
  background-color: #eeeeee;
  font-weight: bold;
  
}
.chart-table thead td{
  padding: 5px;

  
}

.cancel{
  font-weight: bold;
  color: red;
}

