@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


.orderList-div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.order-sidebar{
  /* border: 1px solid blue; */
  width: 120px;
  height: 120px;
  text-align: center;
  margin-top: 60px;
  padding-top: 30px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.order-sidebar li{
  margin-bottom: 10px;
  cursor: pointer;
}

.order-sidebar li:hover{
  text-decoration: underline;
}

.order-sidebar li>div{
  font-size: 0.9rem;
}


.getBold.active,
.getBold:visited{
  font-weight: bold;
}


.order-div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* background-color: #eeeeee31; */
}

.order-main{
  width: 1200px;
  height: 90vh;
}


.order-main>h3{
  margin-bottom: 50px;
}

/* 검색창 */

.item-search{
  width: 1000px;
  margin: 20px auto;
  text-align: center;
}


.item-search input{
  width: 310px;
  height: 30px;
  margin-right: 10px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}

.item-search>span>i{
  cursor: pointer;
}


/* 주문버튼 */

.order-btns{
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 50px auto;
}

.order-btn{
  border: none;
  width: 80px;
  padding: 4px;
  font-weight: bold;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #eeeeee;
  cursor: pointer;
}

.order-btn:hover{
  background-color: #eeeeee;
}

/* 상품 목록*/

.itemList-div{
  margin: 0 auto;
  width: 1020px;
  height: 700px;
  /* overflow-y: auto; */
}


.itemList-table{
  width: 1000px;
  margin: 10px auto;
  
}


.itemList-table thead tr{
  background-color: #eeeeee;
  border-bottom: 1px solid lightgray;
  color: dimgrey;
  font-family: 'SUITE-Regular';
  border-top: 2px solid rgb(141, 141, 141);
  /* border-top: 2px solid black; */
}

.itemList-table thead td{
  padding: 5px;
  font-weight: bold;
}

.itemList-table tbody td{
  padding: 5px;
  border-bottom: 1px solid #eeeeee;
  font-size: 0.9rem;
  /* border: 1px solid red; */
}

.itemList-table tbody td input{
  width: 30px;
}

.itemList-table tbody td button{
  border: none;
  width: 45px;
  padding: 4px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #eeeeee;
  cursor: pointer;
}

.itemList-table tbody td button:hover{
  background-color: #eeeeee;
}

.order-pName{
  cursor: pointer;
}

.priceNum{
  font-weight: 700;
}

.eachNum{
    color: cornflowerblue;
    font-weight: 700;
}



/* 주문 모달창 */

.order-modal-div{
  width: 90%;
  /* height: 100%; */
  margin: 10px auto;
}

.order-modal-div>h3{
  /* border: 1px solid red; */
  text-align: center;
  margin-bottom: 30px;
}

.order-modal-table{
  width: 100%;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #eeeeee;
}

.order-modal-table tbody td{
  padding: 5px;
  font-size: 0.95rem;
  border: 1px solid lightgray;
}

.order-modal-table tbody td:first-child{
  background-color: #eeeeeea2;
  font-family: 'SUITE-Regular';
  /* border-right: 2px solid lightgray; */
}


.order-modal-table tbody td:nth-child(2){
  text-align: center;

}

.order-modal-table tbody td>input{
  width: 40px;

}

.order-modal-table-checked{
  width: 100%;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #eeeeee;
  text-align: center;
  margin-bottom: 30px;
}

.order-modal-table-checked tr{
  border: none;
}

.order-modal-table-checked td{
  padding: 5px;
  font-size: 0.95rem;
}

.order-modal-table-checked thead>tr{
  background-color: #eeeeee;
  font-family: 'SUITE-Regular';
}

.order-modal-detail{
  width: 100%;
  margin-top: 10px;
  text-align: center;
}


.inputCustomerNum-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.inputCustomerNum{
  width: 200px;
  height: 30px;
  margin-right: 10px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}

.inputCustomerNum-div>button{
  width: 45px;
  border-radius: 3px;
  border: none;
  background-color: #0253afb9;
  color: white;
  cursor: pointer;
}

.inputCustomerNum-div>button:hover{
  background-color: #034999c5;
}

