

.orderList-table{
  width: 1000px;
  /* border: 1px solid blue; */
  margin: 10px auto;
  padding: 20px 0px;
}

.orderList-table>div{
  border: 1px solid lightgray;
  border-radius: 20px;
  margin: 20px auto;
  width: 70%;
  color: dimgrey;
  font-family: 'SUITE-Regular';
}

.orderList-table>div>div:first-child{
  font-weight: bold;
  font-size: 1.2rem;
}


.orderList-table div button{
  border: none;
  width: 45px;
  padding: 4px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #eeeeee;
  cursor: pointer;
}

.orderList-table div button:hover{
  background-color: #eeeeee;
}

/* 주문 내역 */

.itemList-main{
  padding: 15px;
}

.itemList-main>div{
  justify-content: left;
}

.itemList-inside{
  display: flex;
  text-align: left;
  margin-top: 10px;
}

.itemList-img{
  margin-right: 20px;
}

.itemList-img>img{
  width: 100px;
  height: 100px;
}

.itemList-name>span:first-child{
  font-weight: bold;
  font-size: 0.9rem;
  margin-right: 5px;
}

.itemList-name>span:nth-child(2){
  font-size: 1.1rem;
}

.itemList-quantity{
  display: flex;
  width: 250px;
}

.itemList-quantity>div{
  margin-right: 20px;
}

.itemList-status{
  display: flex;
  width: 250px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

.itemList-more{
  border: none;
  width: 80px;
  padding: 4px;
  font-weight: bold;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #eeeeee;
  cursor: pointer;
}

