.order-sidebar{
  /* border: 1px solid blue; */
  width: 120px;
  height: 120px;
  text-align: center;
  margin-top: 60px;
  padding-top: 30px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.order-sidebar li{
  margin-bottom: 10px;
  cursor: pointer;
}

.order-sidebar li:hover{
  text-decoration: underline;
}

.order-sidebar li>span{
  font-size: 0.9rem;
  
}
.getBold.active{
  font-weight: bold;
}

.getBold:visited{
  font-weight: bold;
}

.order-div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.order-main{
  width: 1100px;
  height: 90vh;
}


.order-main>h3{
  margin-bottom: 50px;
}

.item-search{
  width: 1000px;
  margin: 20px auto;
  text-align: right;
}


.item-search input{
  width: 120px;
  height: 20px;
  background-color: #eeeeee;
  border: none;
}

.item-search button{
  border: none;
  font-size: 0.7rem;
  width: 42px;
  height: 22px;
  background-color: #0254AF;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px #eeeeee;
}

.item-search button:hover{
  background-color: #013d81;
}

/* .itemList-div{
  width: 100%;
  height: 90%;
} */


.itemList-table{
  width: 1000px;
  margin: 10px auto;
}

.itemList-table thead tr{
  background-color: #eeeeee;
  border-bottom: 1px solid lightgray;
  color: dimgrey;
  /* border-top: 2px solid black; */
}

.itemList-table thead td{
  padding: 5px;
  font-weight: bold;
}

.itemList-table tbody td{
  padding: 5px;
  border-bottom: 1px solid #eeeeee;
  /* border: 1px solid red; */
}

.itemList-table tbody td input{
  width: 30px;
}

.itemList-table tbody td button{
  border: none;
  width: 45px;
  padding: 4px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #eeeeee;
  cursor: pointer;
}

.itemList-table tbody td button:hover{
  background-color: #eeeeee;
}

.order-btns{
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 50px auto;
}

.order-btn{
  border: none;
  width: 80px;
  padding: 4px;
  font-weight: bold;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #eeeeee;
  cursor: pointer;
}

.order-btn:hover{
  background-color: #eeeeee;
}

