
.p-chart{
  background-color: #FAFBFE;
  display: flex;
  justify-content: center;
  text-align: left;
  height: 770px;
}

.p-chart-container{
  display: flex;
  padding: 10px;
  gap: 5px;
}

.p-chart-side{
  width: 250px;  
}

.p-chart-side > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}


.p-chart-side{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px #FAFBFE, 0 3px 6px rgba(99, 99, 99, 0.23);
  gap: 10px;
  width: 280px;
  padding: 13px;
}

.p-chart-side > h4{
  margin-bottom: 15px;
  margin-left: 5px;
}


.p-chart-side-content{
  border: 1px solid lightgray;
  width: 250px;
}

.p-chart-side-content > p {
  padding: 2px;
  font-size: 14px;
}

.p-chart-side-content > p:nth-child(1){
  background-color:#eef1fa;
  padding: 5px;
  font-size: 16px;
}


.p-chart-content{
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px #FAFBFE, 0 3px 6px rgba(99, 99, 99, 0.23);
  width: 1000px;
  padding: 13px;
}

.p-chart-content > div{
  padding: 13px;
  border-radius: 10px;
}

.p-chart-content > div > span > span{
  cursor: pointer;
  margin-left: 2px;
}

.p-chart-contetn-textarea4{
  height: 80px;
}

.p-chart-content > div textarea,
.p-chart-rigthside > div textarea{
  margin-top: 5px;
  width: 98%;
  height: 120px;
  border: none;
  resize: none;
  background-color: #f7f7f7;
  padding: 8px;
}
.p-chart-rigthside > div textarea{
  height: 50px;
}



.p-chart-content > div:nth-child(1){
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 5px;
}
.p-chart-content > div{
  border: 1px solid lightgray;
  margin-bottom: 5px;
}

.p-chart-rigthside{
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px #FAFBFE, 0 3px 6px rgba(99, 99, 99, 0.23);
  width: 440px;
  padding: 13px;
}

.p-chart-rigthside > div {
  margin-top: 5px;
  border: 1px solid lightgray;
  padding: 13px;
  border-radius: 10px;
}

.p-chart-rigthside > div:nth-child(3){
  height: 50%;
}

.p-chart-btn{
  margin-top: 5%;
  margin-left: 35%;
  width: 165px;
  padding: 8px;
  font-size: 0.9rem;
  border: none;
  background-color: #0050B5;
  color: white;
  cursor: pointer;
}

.p-chart-medicine{
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 2px;
  height: 23px;
}

.p-chart-input{
  width: 15px;
  border: none;
  border-bottom: 1px solid rgb(168, 168, 168);
  margin-left: 8px;
}

.p-chart-input:last-child{
  width: 45px;
}
.p-chart-input:first-child{
  width: 45px;
  margin-left: 150px;
}

.p-chart-memInfo{
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px #FAFBFE, 0 3px 6px rgba(99, 99, 99, 0.23);
  padding: 20px;
  margin-top: 30px;
  margin-left: 10px;
  margin-left: 10px;
}

.rightside-flex{
  display: flex;
  justify-content: space-between;
}

.rightside-flex > span {
  cursor: pointer;
}

.p-chart-select{
  padding: 1px;
  border: none;
  appearance:none;
  width: 250px;
  margin-left: 2px;
}