<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="chartMedicineMapper">
	<resultMap id="chartMedicine" type="com.green.MediClick.patientchart.vo.ChartMedicineVO">
        <id column="C_M_NUM" property="cmNum"/>
        <result column="CHART_NUM" property="chartNum"/>
        <result column="M_NUM" property="mNum"/>
        <result column="QUANTITY" property="quantity"/>
    </resultMap>


</mapper>
































