<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="DeliveryMapper">
    <resultMap id="delivery" type="com.green.MediClick.board.vo.BoardVO">
        <id column="DELIVERY_NUM" property="deliveryNum"/>
        <result column="ORDER_NUM" property="orders"/>
        <result column="DELIVERY_DRIVER_NAME" property="deliveryDriverName"/>
        <result column="DELIVERY_DRIVER_PHONE" property="deliveryDriverPhone"/>
        <result column="DELIVERY_ADDRESS" property="deliveryAddress"/>
        <result column="DELIVERY_START_TIME" property="startTime"/>
        <result column="DELIVERY_END_TIME" property="endTime"/>
        <result column="DELIVERY_STATUS" property="deliveryStatus"/>
    </resultMap>

    <select id="deliveryList" resultMap="delivery">
        SELECT * FROM DELIVERY
    </select>


</mapper>































