<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="deliveryMapper">
    <resultMap id="delivery" type="com.green.MediClick.provider.delivery.vo.DeliveryVO">
        <id column="DELIVERY_NUM" property="deliveryNum"/>
        <result column="DELIVERY_DRIVER_NAME" property="deliveryDriverName"/>
        <result column="DELIVERY_DRIVER_PHONE" property="deliveryDriverPhone"/>
        <result column="DELIVERY_STATUS" property="deliveryStatus"/>
    </resultMap>

    <select id="deliveryList" resultMap="delivery">
        SELECT * FROM delivery
        WHERE DELIVERY_DRIVER_NAME = #{deliveryDriverName}
    </select>

    <select id="ordersList" resultMap="ordersMapper.orders">
        SELECT
        P.PRODUCT_NAME,
        O.ORDER_NUM,
        O.REQUEST_NUM,
        O.ORDER_DATE,
        O.ORDER_STATUS,
        C.CUSTOMER_NUM,
        C.CUSTOMER_NAME,
        C.CUSTOMER_ADDR,
        D.DELIVERY_NUM,
        IFNULL(D.DELIVERY_DRIVER_NAME,'-'),
        IFNULL(D.DELIVERY_DRIVER_PHONE,'-'),
        (R.QUANTITY * P.PRODUCT_PRICE) AS TOTALPRICE
        FROM
        orders O
        JOIN
        order_requests R ON O.REQUEST_NUM = R.REQUEST_NUM
        JOIN
        customers C ON R.CUSTOMER_NUM = C.CUSTOMER_NUM
        JOIN
        products P ON R.PRODUCT_NUM = P.PRODUCT_NUM
        LEFT JOIN
        delivery D ON O.DELIVERY_NUM = D.DELIVERY_NUM
        WHERE
        O.REQUEST_NUM = R.REQUEST_NUM
    </select>

    <insert id="insertDriver">
        INSERT INTO delivery(
        DELIVERY_DRIVER_NAME
        ,DELIVERY_DRIVER_PHONE
        ) VALUES(
        #{memName}
        ,#{memTel}
        )
    </insert>
    <insert id="insertDd">
        INSERT INTO DELIVERY (
            DELIVERY_STATUS
            ,DELIVERY_START_TIME
            ,DELIVERY_DRIVER_NAME
            ,DELIVERY_DRIVER_PHONE
        ) VALUES(
            '배송중'
            ,NOW()
            ,#{deliveryDriverName}
            ,#{deliveryDriverPhone}
        )

    </insert>
    <update id="updateDriver">
        update delivery
        set DELIVERY_STATUS = '배송중'
            ,DELIVERY_START_TIME = NOW()
            ,DELIVERY_DRIVER_NAME = #{deliveryDriverName}
            ,DELIVERY_DRIVER_PHONE = #{deliveryDriverPhone}
        where DELIVERY_NUM = #{deliveryNum};
    </update>
    <update id="sameUpdate">
        <!--orders 테이블의 ORDER_STATUS도 함께 '배송중'으로 업데이트-->
        UPDATE orders O
        JOIN delivery D ON O.DELIVERY_NUM = D.DELIVERY_NUM
        SET O.ORDER_STATUS = '배송중'
        WHERE D.DELIVERY_NUM = #{deliveryNum};
    </update>
    <update id="endDriver">
        UPDATE delivery
        SET
        DELIVERY_STATUS = '배송완료',
        DELIVERY_END_TIME = NOW()
        WHERE DELIVERY_NUM = #{deliveryNum}
    </update>
    <update id="endSameUpdate">
        <!--orders 테이블의 ORDER_STATUS도 함께 '배송완료'로 업데이트-->
        UPDATE orders O
        JOIN delivery D ON O.DELIVERY_NUM = D.DELIVERY_NUM
        SET O.ORDER_STATUS = '배송완료'
        WHERE D.DELIVERY_NUM = #{deliveryNum};
    </update>

    <select id="orderNum" resultType="int">
        SELECT * FROM delivery WHERE DELIVERY_NUM = #{DELIVERY_NUM}
    </select>


</mapper>






























