<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="imgMapper">
    <resultMap id="img" type="com.green.MediClick.medicaldoctor.vo.DoctorImgVO">
        <id column="IMG_NUM" property="docNum" />
        <result column="ORIGIN_FILE_NAME" property="originFileName" />
        <result column="ATTACHED_FILE_NAME" property="attachedFileName" />
<!--        <association property="medicalDept" resultMap="dept">-->
<!--           <id property="deptId" column="dept_id"/>-->
<!--        </association>-->
        <association property="doctorVO" resultMap="doctor" />
    </resultMap>
    <!--의사 이미지 등록-->
    <insert id="insetDoctorImg">
        INSERT INTO DOCTOR_IMG(
            , ORIGIN_FILE_NAME
            , ATTACHED_FILE_NAME
            , DOC_NUM
        ) VALUES(
            #{originFileName}
            , #{attachedFileName}
            , #{docNum}
        )
    </insert>
</mapper>































