<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
    <resultMap id="item" type="com.green.MediClick.provider.item.vo.ItemVO">
        <id column="PRODUCT_NUM" property="productNum"/>
        <result column="PRODUCT_NAME" property="productName"/>
        <result column="CATE_NUM" property="cateNum"/>
        <result column="PRODUCT_PRICE" property="productPrice"/>
        <result column="STOCK" property="stock"/>
        <result column="DETAIL" property="detail"/>
        <association property="categoryVO" resultMap="cateCode"/>
    </resultMap>
    <resultMap id="cateCode" type="com.green.MediClick.provider.item.vo.CategoryVO">
        <id column="CATE_NUM" property="cateNum" />
        <result column="CATE_NAME" property="cateName" />
    </resultMap>

    <select id="cateList" resultMap="cateCode">
        SELECT * FROM CATEGORY
    </select>

    <insert id="cateInsert">
        INSERT INTO CATEGORY (
        CATE_NAME
        ) VALUES(
        #{cateName}
        )
    </insert>

    <delete id="cateDelete">
        DELETE FROM CATEGORY
        WHERE CATE_NUM = #{cateNum}
    </delete>

    <insert id="productInsert">
        INSERT INTO PRODUCTS (
            PRODUCT_NAME
            ,CATE_NUM
            ,PRODUCT_PRICE
            ,STOCK
            ,DETAIL
        ) VALUES(
            #{productName}
            ,#{cateNum}
            ,#{productPrice}
            ,#{stock}
            ,#{detail}
        )
    </insert>
    
    <select id="medicalSuppliesList" resultMap="item">
        SELECT * FROM PRODUCTS ,CATEGORY
        WHERE CATEGORY.CATE_NUM = PRODUCTS.CATE_NUM
    </select>
</mapper>































