<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="doctorMapper">
    <resultMap id="doctor" type="com.green.MediClick.medicaldoctor.vo.DoctorVO">
        <id column="DOC_NUM" property="docNum" />
        <result column="DOC_NAME" property="docName" />
        <result column="DEPT_NUM" property="deptNum" />
        <association property="medicalDept" resultMap="dept">
           <id property="deptId" column="dept_id"/>
           <result property="deptName" column="dept_name"/>
        </association>
        <!--의사 이미지 데이터-->
        <association property="imgVO" resultMap="img" />
    </resultMap>
    <resultMap id="dept" type="com.green.MediClick.medicaldoctor.vo.MedicalDept">
        <id column="DEPT_NUM" property="deptNum" />
        <result column="DEPT_NAME" property="deptName" />
    </resultMap>
    <resultMap id="img" type="com.green.MediClick.medicaldoctor.vo.DoctorImgVO">
        <id column="IMG_NUM" property="imgNum" />
        <result column="ORIGIN_FILE_NAME" property="originFileName" />
        <result column="ATTACHED_FILE_NAME" property="attachedFileName" />
        <result column="DOC_NUM" property="docNum" />
    </resultMap>
    <select id="medicalDoctorList" resultMap="doctor">
        SELECT DOC_NAME, DEPT_NAME
        FROM medical_dept, medical_doctor
        WHERE medical_dept.DEPT_NUM = medical_doctor.DEPT_NUM
    </select>

    <select id="oneDoctor" resultMap="doctor">
        SELECT DOC_NUM,DOC_NAME,
            ( SELECT DEPT_NAME
            FROM medical_dept P
            WHERE D.DEPT_NUM=P.DEPT_NUM
            ) AS DEPT_NAME
        FROM MEDICAL_DOCTOR D
        WHERE DOC_NUM=#{docNum}
    </select>


    <!--이미지 들어갈 자리 조회 0이면 1로 해서-->
    <select id="nextDoctorImg" resultMap="img">
        SELECT CONCAT(DOC_ ,LPAD(IFNULL(MAX(CAST(SUBSTRING(IMG_NUM, 5) AS UNSIGNED)), 0) + 1, 5, '0'))
        FROM MEDICAL_DOCTOR
    </select>
<!--    &lt;!&ndash;의사 이미지 등록&ndash;&gt;-->
<!--    <insert id="insetDoctorImg">-->
<!--        INSERT INTO DOCTOR_IMG(-->
<!--            IMG_NUM-->
<!--            , ORIGIN_FILE_NAME-->
<!--            , ATTACHED_FILE_NAME-->
<!--            , DOC_NUM-->
<!--        ) VALUES(-->
<!--            #{imgNum}-->
<!--            #{originFileName}-->
<!--            #{attachedFileName}-->
<!--            #{docNum}-->
<!--        )-->
<!--    </insert>-->
<!--    의사 정보 추가-->
    <select id="selectDoctor" resultMap="doctor" >
        SELECT * FROM MEDICAL_DOCTOR
        WHERE DOC_NUM = #{docNum}
    </select>
    <!--회원가입하는 롤이 ADMIN이면 의사정보 등록 쿼리-->
    <insert id="insertDoctor">
        INSERT INTO medical_doctor (
        DOC_NUM,
        DOC_NAME
        ) VALUES (
        #{docNum},  <!-- DOC_NUM 필드 추가 -->
        #{docName}
        )
    </insert>
</mapper>































