<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="doctorMapper">
    <resultMap id="doctor" type="com.green.MediClick.medicaldoctor.vo.DoctorVO">
        <id column="DOC_NUM" property="docNum" />
        <result column="DOC_NAME" property="docName" />
        <association property="MedicalDept" resultMap="dept">
           <id property="deptId" column="dept_id"/>
            <result property="deptName" column="dept_name"/>
        </association>
    </resultMap>
    <resultMap id="dept" type="com.green.MediClick.medicaldoctor.vo.MedicalDept">
        <id column="DEPT_NUM" property="deptNum" />
        <result column="DEPT_NAME" property="deptName" />
    </resultMap>

    <select id="medicalDoctorList" resultMap="doctor">
        SELECT DOC_NAME, DEPT_NAME
        FROM medical_dept, medical_doctor
        WHERE medical_dept.DEPT_NUM = medical_doctor.DEPT_NUM
    </select>

    <select id="oneDoctor" resultMap="doctor">
        SELECT DOC_NUM,DOC_NAME,
            ( SELECT DEPT_NAME
            FROM medical_dept P
            WHERE D.DEPT_NUM=P.DEPT_NUM
            ) AS DEPT_NAME
        FROM MEDICAL_DOCTOR
        WHERE DOC_NUM=#{docNum}
    </select>

</mapper>































