<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="member">
    <resultMap id="member" type="com.green.MediClick.member.vo.MemberVO">
        <id column="MEM_NUM" property="memNum" />
        <result column="MEM_NAME" property="memName" />
        <result column="MEM_TEL" property="memTel" />
        <result column="MEM_RRN" property="memRrn" />
        <result column="MEM_ROLE" property="memRole" />

    </resultMap>
    <!--회원 가입-->
    <insert id="insertMember">
    INSERT INTO MEDICAL_MEMBER (
        MEM_NAME,
        MEM_TEL,
        MEM_RRN,
        ) VALUES(
        #{memName},
        #{memTel},
        #{memRrn},
    </insert>

    <select id="goLogin" resultMap="member">
        SELECT MEM_NAME
            ,MEM_RRN
            ,MEM_ROLE
        FROM MEDICAL_MEMBER
        WHERE MEM_NAME=#{memName}
        AND MEM_RRN=#{memRrn}
    </select>

    <!-- 다음에 들어갈 회원 가입 번호 -->

    <select id="checkNumber" resultType="string">
        SELECT CONCAT(
            CASE
                WHEN MEM_ROLE = 'ADMIN' THEN 'DOC_'
                WHEN MEM_ROLE = 'USER' THEN 'CLT_'
                ELSE 'UNKNOWN_'
            END,
            LPAD(IFNULL(MAX(CAST(SUBSTRING(MEM_NUM, LOCATE('_', MEM_NUM) + 1) AS UNSIGNED)), 0) + 1, 5, '0')
            )
    FROM medical_member
    WHERE MEM_ROLE = 'ADMIN'
    </select>
</mapper>































