<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="patientChartMapper">
	<resultMap id="p_chart" type="com.green.MediClick.patientchart.vo.PatientChartVO">
        <id column="CHART_NUM" property="chartNum"/>
        <result column="CHART_DATE" property="chartDate"/>
        <result column="DOC_NUM" property="docNum"/>
        <result column="MEM_NUM" property="memNum"/>
        <result column="DEPT_NUM" property="deptNum"/>
        <result column="SYMPTOM" property="symptom"/>
        <result column="CHECKUP" property="checkUp"/>
        <result column="DISEASE" property="disease"/>
        <result column="PRESCRIPTION" property="prescription"/>
    </resultMap>

        <!--모든 환자 정보-->
        <select id="allMember" resultMap="member.member">
            SELECT * FROM medical_member
            WHERE MEM_NUM LIKE CONCAT('%', 'CTL', '%')
            <if test="searchValue != null and !searchValue.isEmpty()">
                AND MEM_NAME LIKE CONCAT('%', #{searchValue}, '%')
            </if>
        </select>

        <!-- 해당 환자 진료차트 조회-->
        <select id="select" resultMap="p_chart">
                SELECT * FROM patient_chart
                WHERE MEM_NUM = #{memNum}
        </select>
</mapper>
































