<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="customerMapper">
	<resultMap id="customer" type="com.green.MediClick.provider.customers.vo.CustomersVO">
        <id column="CUSTOMER_NUM" property="customerNum"/>
        <result column="CUSTOMER_NAME" property="customerName" />
        <result column="CUSTOMER_OWNER" property="customerOwner" />
        <result column="BUSINESS_NUMBER" property="businessNumber" />
        <result column="CUSTOMER_ADDR" property="customerAddr" />
        <result column="CUSTOMER_TEL" property="customerTel" />
        <result column="CUSTOMER_EMAIL" property="customerEmail" />
        <result column="ORDER_STATUS" property="orderStatus" />
    </resultMap>


    <select id="customers" resultMap="customer">
        SELECT * FROM CUSTOMERS
        <if test="searchValue != null and !searchValue.isEmpty()">
            WHERE CUSTOMER_NAME LIKE CONCAT('%', #{searchValue}, '%')
        </if>
    </select>

    <insert id="addCustomer">
        INSERT INTO CUSTOMERS(
            CUSTOMER_NAME
            ,CUSTOMER_ADDR
            ,CUSTOMER_TEL
            ,CUSTOMER_EMAIL
            ,CUSTOMER_OWNER
            ,BUSINESS_NUMBER
        ) VALUES(
            #{customerName}
            ,#{customerAddr}
            ,#{customerTel}
            ,#{customerEmail}
            ,#{customerOwner}
            ,#{businessNumber}
        )
    </insert>

        <delete id="deleteCustomer">
            DELETE FROM CUSTOMERS
            WHERE CUSTOMER_NUM IN
            <foreach collection="customerNumList" item="customerNum" open="(" separator="," close=")">
                #{customerNum}
            </foreach>
        </delete>

    <select id="detailCustomer" resultMap="customer">
        SELECT * FROM CUSTOMERS
        WHERE CUSTOMER_NUM = #{customerNum}
    </select>


    <update id="updateCustomer">
        UPDATE CUSTOMERS
        SET CUSTOMER_NAME = #{customerName}
        ,CUSTOMER_ADDR = #{customerAddr}
        ,CUSTOMER_TEL = #{customerTel}
        ,CUSTOMER_EMAIL = #{customerEmail}
        ,CUSTOMER_OWNER = #{customerOwner}
        ,BUSINESS_NUMBER = #{businessNumber}
        WHERE CUSTOMER_NUM = #{customerNum}
    </update>

    <!--해당 주문 (수주테이블로 다시 바꾸기 삭제해야함)-->
    <select id="order" resultMap="orderItemsMapper.request">
        SELECT C.CUSTOMER_NAME
        ,R.REQUEST_DATE
        ,P.PRODUCT_NAME
        ,R.QUANTITY
        , P.PRODUCT_PRICE
        ,(P.PRODUCT_PRICE * QUANTITY) AS PRODUCT_PRICE
        ,REQUEST_STATUS
        FROM order_requests R , products P , customers C
        WHERE R.PRODUCT_NUM = P.PRODUCT_NUM
        AND C.CUSTOMER_NUM = R.CUSTOMER_NUM
        AND R.REQUEST_NUM = #{requestNum}
    </select>

    <!-- 수주리스트 -->
    <select id="orderlist" resultMap="orderItemsMapper.request">
        SELECT REQUEST_NUM
        ,REQUEST_DATE
        ,REQUEST_STATUS
        ,C.CUSTOMER_NUM
        ,C.CUSTOMER_NAME
        ,(R.QUANTITY * P.PRODUCT_PRICE) as TOTALPRICE
        FROM order_requests R, customers C, products P
        WHERE R.CUSTOMER_NUM = C.CUSTOMER_NUM
        AND R.PRODUCT_NUM = P.PRODUCT_NUM
        <if test="searchValue != null and !searchValue.isEmpty()">
            AND (
            REQUEST_DATE LIKE CONCAT('%', #{searchValue}, '%')
            OR REQUEST_STATUS LIKE CONCAT ('%', #{searchValue}, '%')
            )
        </if>
        ORDER BY REQUEST_NUM DESC
    </select>

</mapper>
































