<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="inventoryMapper">
        <resultMap id="inventory" type="com.green.MediClick.provider.inventory.vo.InventoryVO">
        <id column="INVENTORY_NUM" property="inventoryNum"/>
        <result column="CATE_NUM" property="cateNum" />
        <result column="PRODUCT_NUM" property="productNum" />
        <result column="PRODUCT_NAME" property="productName" />
        <result column="STOCK_DATE" property="stockDate" />
        <result column="OUT_DATE" property="outDate" />
        <result column="CURRENT_STOCK" property="currentStock"/>
        <result column="INITIAL_STOCK" property="initialStock" />
        <result column="INCOMING_QTY" property="incomingQty" />
        <result column="OUTGOING_QTY" property="outgoingQty" />
    </resultMap>

        <select id="inventoryList" resultMap="inventory">
                SELECT * FROM inventory
        </select>

        <insert id="inventoryInsert">
                INSERT INTO INVENTORY (
                PRODUCT_NUM
                ,PRODUCT_NAME
                ,CATE_NUM
                ,PRODUCT_PRICE
                ,STOCK
                ,DETAIL
                ) VALUES(
                #{productNum}
                ,#{productName}
                ,#{cateNum}
                ,#{productPrice}
                ,#{stock}
                ,#{detail}
                )
        </insert>


        <!-- 해당 제품의 현재고량 -->
        <select id="currentStock" resultType="int">
                SELECT IFNULL(current_stock,0)
                FROM inventory
                WHERE product_num = #{product_num}
        </select>


        <!--배송신청시 재고테이블 OUT-->
        <update id="outgoing">
            <foreach collection="list" item="out" close=";" separator=";">
                UPDATE inventory
                SET OUTGOING_QTY = #{out.quantity}
                ,OUT_DATE = NOW()
                ,CURRENT_STOCK = CURRENT_STOCK - #{out.quantity}
                WHERE PRODUCT_NUM = #{out.productNum}
            </foreach>
        </update>

</mapper>
































