<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="ordersMapper">
	<resultMap id="orders" type="com.green.MediClick.provider.customers.vo.OrdersVO">
        <id column="ORDERS_NUM" property="orderNum"/>
        <result column="REQUEST_NUM" property="requestNum"/>
        <result column="ORDER_DATE" property="orderDate"/>
        <result column="ORDER_STATUS" property="orderStatus"/>
        <result column="TOTALPRICE" property="totalPrice"/>
        <association property="customersVO" column="customerMapper.customer"/>
    </resultMap>


    <select id="orders" resultMap="orders">
        SELECT O.REQUEST_NUM
        ,ORDER_DATE
        ,ORDER_STATUS
        ,C.CUSTOMER_NUM
        ,C.CUSTOMER_NAME
        ,(R.QUANTITY * P.PRODUCT_PRICE) as TOTALPRICE
        FROM order_requests R, orders O , customers C, products P
        WHERE O.REQUEST_NUM = R.REQUEST_NUM
        AND R.CUSTOMER_NUM = C.CUSTOMER_NUM
        AND R.PRODUCT_NUM = P.PRODUCT_NUM
        <if test="searchValue != null and !searchValue.isEmpty()">
            AND (
            REQUEST_DATE LIKE CONCAT('%', #{searchValue}, '%')
            OR REQUEST_STATUS LIKE CONCAT ('%', #{searchValue}, '%')
            )
        </if>
        ORDER BY R.REQUEST_NUM DESC
    </select>

</mapper>
































