<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="scheduleMapper">
	<resultMap id="schedule" type="com.green.MediClick.schedule.vo.ScheduleVO">
        <id column="SCH_NUM" property="schNum"/>
        <result column="DOC_NUM" property="docNum"/>
        <result column="MEM_NUM" property="memNum"/>
        <result column="DEPT_NUM" property="deptNum"/>
        <result column="REH_DATE" property="rehDate"/>
        <result column="SCH_DATE" property="schDate"/>
        <result column="SCH_TIME" property="schTime"/>
        <result column="DETAIL" property="detail"/>
        <result column="SCH_STATUS" property="schStatus"/>
        <!--medical-doctor-mapper에 있슴-->
        <association property="doctorVO" resultMap="doctorMapper.doctor"/>
        <!--member-mapper에 있슴-->
        <collection property="memberVO" resultMap="member.member"/>
    </resultMap>

        <!--관리자 : 의사별 담당환자 리스트-->
     <select id="docMemChart" resultMap="schedule">
        SELECT SCH_NUM
                ,SCH_DATE
                ,S.DOC_NUM
                ,DOC_NAME
                ,( SELECT DEPT_NAME
                 FROM medical_dept P
                 WHERE D.DEPT_NUM=P.DEPT_NUM
                 ) AS DEPT_NAME
                ,M.MEM_NUM
                ,MEM_NAME
                ,DETAIL
                ,SCH_STATUS
        FROM MEDICAL_SCHEDULE S,MEDICAL_DOCTOR D,MEDICAL_MEMBER M
        WHERE S.DOC_NUM=#{docNum}
        AND S.DOC_NUM=D.DOC_NUM
        AND S.MEM_NUM=M.MEM_NUM
        ORDER BY SCH_DATE ASC
         LIMIT #{pageVO.displayDataCnt} OFFSET #{pageVO.offset}
     </select>

    <!--의사: 총 게시글 수 조회하는 쿼리 -->
    <select id="getChartCnt" resultType="int">
        SELECT COUNT(SCH_NUM)
        FROM MEDICAL_SCHEDULE
        WHERE DOC_NUM=#{docNum}
    </select>


    <!--의사별 담당환자 차트-->
    <select id="getMemChart" resultMap="schedule">
        SELECT SCH_NUM
            ,SCH_DATE
            ,DATE_FORMAT(SCH_TIME,'%H:%i') AS SCH_TIME
            ,D.DOC_NUM
            ,DOC_NAME
            ,(
            SELECT DEPT_NAME
            FROM medical_dept P
            WHERE D.DEPT_NUM=P.DEPT_NUM
            ) AS DEPT_NAME
            ,M.MEM_NUM
            ,MEM_NAME
            ,CONCAT(
                SUBSTRING(MEM_RRN, 1, 6), '-',
                REPEAT('*', LENGTH(MEM_RRN) - 6)
                ) AS MEM_RRN
            ,MEM_TEL
            ,DETAIL
        FROM MEDICAL_SCHEDULE S,MEDICAL_DOCTOR D,MEDICAL_MEMBER M
        WHERE SCH_NUM=#{schNum}
        AND S.DOC_NUM=D.DOC_NUM
        AND S.MEM_NUM=M.MEM_NUM;
    </select>

    <!--담당환자 차트에서 예약정보 변경-->
<!--    <update id="updateSchCart">-->
<!--        UPDATE medical_schedule-->
<!--        SET SCH_DATE=#{schDate}-->
<!--            ,SCH_TIME=#{schTime}-->
<!--            ,DETAIL=#{detail}-->
<!--            ,DOC_NUM=#{docNum}-->
<!--            ,DEPT_NUM=#{deptNum}-->
<!--        WHERE MEM_NUM=#{memNum}-->
<!--    </update>-->

    <!--예약취소-->
<!--    <update id="updateSchStatus">-->
<!--        UPDATE MEDICAL_SCHEDULE-->
<!--        SET SCH_STATUS='N'-->
<!--        WHERE SCH_NUM=#{schNum}-->
<!--    </update>-->
    <delete id="deleteSch">
        DELETE FROM MEDICAL_SCHEDULE
        WHERE SCH_NUM=#{schNum}
    </delete>

    <!--환자가 보는 나의 예약페이지-->
    <select id="getMemSch" resultMap="schedule">
        SELECT SCH_NUM
            ,SCH_DATE
            ,DATE_FORMAT(SCH_TIME,'%H:%i') AS SCH_TIME
            ,DOC_NAME
            ,( SELECT DEPT_NAME
            FROM medical_dept P
            WHERE D.DEPT_NUM=P.DEPT_NUM
            ) AS DEPT_NAME
            ,MEM_NAME
            ,SCH_STATUS
        FROM MEDICAL_SCHEDULE S,MEDICAL_DOCTOR D,MEDICAL_MEMBER M
        WHERE S.MEM_NUM=#{memNum}
        AND S.MEM_NUM=M.MEM_NUM
        AND S.DOC_NUM=D.DOC_NUM
        ORDER BY SCH_DATE ASC, SCH_TIME ASC
        LIMIT #{pageVO.displayDataCnt} OFFSET #{pageVO.offset}
    </select>

    <!--환자: 총 게시글 수 조회하는 쿼리 -->
    <select id="getMyChartCnt" resultType="int">
        SELECT COUNT(SCH_NUM)
        FROM MEDICAL_SCHEDULE
        WHERE MEM_NUM=#{memNum}
    </select>

    <!-- 의사 진료과 불러오기 -->
    <select id="doctor" resultMap="doctorMapper.doctor">
        SELECT DOC_NUM, DOC_NAME, D.DEPT_NUM , DEPT_NAME
        FROM  medical_doctor D, medical_dept T
        WHERE D.DEPT_NUM = T.DEPT_NUM
        ORDER BY DOC_NUM
    </select>


    <!-- 예약 insert -->
    <insert id="insertsch">
        INSERT INTO medical_schedule(
        DOC_NUM
        ,MEM_NUM
        ,DEPT_NUM
        ,SCH_DATE
        ,SCH_TIME
        ,DETAIL
        ) VALUES(
        #{docNum}
        ,#{memNum}
        ,#{deptNum}
        ,#{schDate}
        ,#{schTime}
        ,#{detail}
        )
    </insert>

    <!-- 예약유무 확인 (진료과와 날짜를 선택했을때) -->
    <select id="checkSchtime" resultMap="schedule">
        SELECT SCH_TIME
        FROM medical_schedule
        WHERE DEPT_NUM = #{deptNum}
        AND SCH_DATE = #{schDate}
    </select>

    <!-- 과거(오늘기준)예약 자동 삭제 -->
    <delete id="autoDelete">
        DELETE FROM medical_schedule WHERE SCH_DATE &lt; CURRENT_DATE()
    </delete>


</mapper>































