<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="scheduleMapper">
	<resultMap id="schedule" type="com.green.MediClick.schedule.vo.ScheduleVO">
        <id column="SCH_NUM" property="schNum"/>
        <result column="DOC_NUM" property="docNum"/>
        <result column="MEM_NUM" property="memNum"/>
        <result column="DEPT_NUM" property="deptNum"/>
        <result column="REH_DATE" property="rehDate"/>
        <result column="SCH_DATE" property="schDate"/>
        <result column="SCH_TIME" property="schTime"/>
        <result column="DETAIL" property="detail"/>
        <result column="SCH_STATUS" property="schStatus"/>
        <association property="doctorVO" resultMap="doctor"/>
        <collection property="memberVO" resultMap="member"/>
    </resultMap>

    <resultMap id="member" type="com.green.MediClick.member.vo.MemberVO">
        <id column="MEM_NUM" property="memNum" />
        <result column="MEM_NAME" property="memName" />
        <result column="MEM_TEL" property="memTel" />
        <result column="MEM_RRN" property="memRrn" />
        <result column="MEM_ROLE" property="memRole" />
    </resultMap>

    <resultMap id="doctor" type="com.green.MediClick.medicaldoctor.vo.DoctorVO">
        <id column="DOC_NUM" property="docNum" />
        <result column="DOC_NAME" property="docName" />
        <collection property="medicalDept" resultMap="dept"/>
    </resultMap>

    <resultMap id="dept" type="com.green.MediClick.medicaldoctor.vo.MedicalDept">
        <id column="DEPT_NUM" property="deptNum" />
        <result column="DEPT_NAME" property="deptName" />
    </resultMap>



        <!--관리자 : 담당의별 환자 차트-->
     <select id="docMemChart" resultMap="schedule">
        SELECT SCH_NUM
                ,SCH_DATE
                ,DOC_NAME
                ,( SELECT DEPT_NAME
                 FROM medical_dept P
                 WHERE D.DEPT_NUM=P.DEPT_NUM
                 ) AS DEPT_NAME
                ,MEM_NAME
                ,DETAIL
                ,SCH_STATUS
        FROM MEDICAL_SCHEDULE S,MEDICAL_DOCTOR D,MEDICAL_MEMBER M
        WHERE S.DOC_NUM=#{docNum}
        AND S.DOC_NUM=D.DOC_NUM
        AND S.MEM_NUM=M.MEM_NUM
        ORDER BY SCH_NUM DESC
     </select>

    <!--예약취소 : SCH_STATUS='N'로 변경-->
    <update id="updateSchStatus">
        UPDATE MEDICAL_SCHEDULE
        SET SCH_STATUS='N'
        WHERE SCH_NUM=#{schNum}
    </update>

    <!-- 의사 진료과 불러오기 -->
    <select id="doctor" resultMap="doctor">
        SELECT DOC_NUM, DOC_NAME, D.DEPT_NUM , DEPT_NAME
        FROM  medical_doctor D, medical_dept T
        WHERE D.DEPT_NUM = T.DEPT_NUM
        ORDER BY DOC_NUM
    </select>

    <!-- 예약 insert -->
    <insert id="insertsch">
        INSERT INTO medical_schedule(
        DOC_NUM
        ,MEM_NUM
        ,DEPT_NUM
        ,SCH_DATE
        ,SCH_TIME
        ,DETAIL
        ) VALUES(
        #{docNum}
        ,#{memNum}
        ,#{deptNum}
        ,#{schDate}
        ,#{schTime}
        ,#{detail}
        )
    </insert>

</mapper>































