<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="tempMapper">
    <resultMap id="temp" type="com.green.MediClick.temp.vo.TempVO">
        <id column="TEMP_NUM" property="tempNum"/>
        <result column="CURRENT_TEMP" property="currentTemp"/>
        <result column="TEMP_TIME" property="tempTime"/>
        <result column="TIME_DATE" property="timeDate"/>
        <result column="AVG_TEMP" property="avgTemp"/>
    </resultMap>

    <!--입력되는 온도 조회 : 5분마다 10개-->
    <select id="nowTemps" resultMap="temp">
        SELECT TEMP_NUM
            ,CURRENT_TEMP
            ,TEMP_TIME
        FROM TEMP_DATA
        ORDER BY TEMP_TIME DESC
        <!--처음부터 어디까지 가져올지-->
        LIMIT 10
    </select>

    <!--12시간 전 데이터 자동 삭제-->
    <delete id="keepDel">
        DELETE FROM TEMP_DATA
        WHERE TEMP_TIME &lt; CURRENT_TIMESTAMP() - INTERVAL 12 HOUR;
    </delete>


    <!-- 10분간격 온도평균 데이터 -->
    <select id="timeAvgDate" resultMap="temp">
        SELECT
            TEMP_NUM,
            round(AVG(CURRENT_TEMP),1) AS avg_Temp
            ,concat(
                    hour(temp_time)
                    ,':'
                    ,FLOOR(MINUTE(temp_time)/10)*10) AS time_Date
        FROM temp_data
        GROUP BY
            date(temp_time)
            ,HOUR(temp_time)
            ,FLOOR(MINUTE(temp_time)/10)*10
        ORDER BY TEMP_TIME DESC
        limit 15
    </select>

    <!-- 전체 온도 데이터(평균)-->
    <select id="tempListData" resultMap="temp">
        select * from temp_data
        order by temp_time desc
    </select>
</mapper>































